<!-- quiz.html -->
{% extends 'base.html' %}

{% block content %}
<h1>{{ quiz.title }}</h1>
<form action="{{ url_for('submit_quiz', quiz_id=quiz.id) }}" method="post">
    {% for question in quiz.questions %}
        <fieldset>
            <legend>{{ question.text }}</legend>
            {% for answer in question.answers %}
                <label>
                    <input type="radio" name="question{{ question.id }}" value="{{ answer.id }}" required>
                    {{ answer.text }}
                </label><br>
            {% endfor %}
        </fieldset>
    {% endfor %}
    <button type="submit" class="button">Soumettre</button>
</form>
{% endblock %}
